.item {
  border-style: solid none solid;
  border-color: rgb(180, 177, 177);
  border-width: 1px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-color: #ffffff;
}

.item:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: rgb(194, 194, 194);
}
