.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  /* min-height: 6em; */
  background-color: rgb(255, 255, 255);
}

/* .logo {
  margin-left: 10em;
  margin-right: auto;
} */

.nav {
  align-self: start;
}

.nav ul {
  list-style: none;
  gap: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  font-size: 1.5rem;
  width: 170px;
  line-height: 1.7;
}

.nav a {
  text-decoration: none;
  display: flex;
  gap: 0.3em;
  padding: 5px 10px;
  border-radius: 5px;
  width: 100%;
  color: #383838;
}

.nav a:hover,
.nav a:active,
.nav a.active {
  color: #1864ab;

  background-color: #f1f3f5;
  border-radius: 4px;
}

.icons {
}

.logout {
  background-color: #1864ab;
  color: #edf2ff;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 8px 10px;
  border-radius: 100px;
  border-color: #1864ab;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

.logout:hover {
  background-color: #1c7ed6;
  border-color: #1c7ed6;
  box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.253);
}

.username {
  text-align: center;
}

/* //////////////////////////////////////////////////////////////// */

.header {
  position: fixed;
  height: 100vh;
  width: 210px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 350px 50px 50px;
  justify-items: center;
  align-items: center;
  border-right: 1px solid rgba(0, 0, 0, 0.151);
}
.welcome {
  text-align: center;
  text-decoration: underline;
  font-size: 14px;
}

.nav ul {
  display: grid;
  grid-template-rows: repeat(5 1fr);
}

.logo {
  border-bottom: 1px solid #e0e0e0;
  text-align: center;
  align-self: stretch;
  justify-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}
