.bottomMenu {
  display: flex;
  justify-content: center;
  gap: 1em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.bottomMenu button {
  margin: 0;
}

.description {
  margin-bottom: 2em;
}

.title {
  margin-bottom: 1em;
  margin-top: 1em;
}

.featuredImage {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 200px;
  margin-bottom: 2em;
  gap: 0.5em;
}

.modalMenu {
  display: flex;
  gap: 2em;
}
